<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Planifica tu viaje a Japón con Blossom Travel. Haz de tu viaje una experiencia única y personal gracias a nuestra ayuda">
    <meta name="Author" content="Noelia Tirado">
    <meta name="Keywords" content="viaje, japón, tokyo, anime, coches, osaka, kyoto, planificar, vuelos, hoteles">
    <meta name="locality" content="cádiz, spain, europa"> 
    <meta name="revisit-after" content="14 days">
    <meta name="category" content="Spanish, Spain, Japan, Viajes y turismo, planificación"> 
    <link rel="stylesheet" href="./css/styles.css">
    <link rel="stylesheet" href="../css/styles.css">
    <title>Blossom Travel</title>
</head>
<body>
    <header class="header-mini">   
        <nav class="nav-links">
           <div class="katana-menu">
                <input type="checkbox" id="check-menu" class="check-menu">

                <ul class="web-links">
                    <li><a href="#">¿Qué te interesa?</a>
                        <ul class="dropdown">
                            <li><a href="otakuplaces.html"> Turismo Otaku</a></li>
                            <li><a href="carplaces.html"> Turismo Coches</a></li>
                            <li><a href="foodplaces.html"> Turismo Gastronómico</a></li>
                            <li><a href="festivals.html"> Festivales</a></li>
                        </ul>
                    </li>
                    <li><a href="productos.html">¿Qué necesitas?</a></li>
                    <li><a href="contacto.html">¿Cómo podemos ayudarte?</a></li>
                </ul>

                <label for="check-menu" class="label-check">
                    <img src="../assets/imgs/katana-cultures-svgrepo-com.svg" alt="botón de menú con forma de katanas" class="menu-hamburguesa" width="40" height="40">
                </label>
            </div>

            <img class="mini-logo" src="../assets/imgs/logo.png" alt="logo flor de cerezo con el centro rojo" height="70" width="70">

            <a href="../index.html">Inicio</a>
            <a href="productos.html">Productos</a>
            <a href="contacto.html">Contacto</a>
        </nav>
    </header>
    <main>
        <div class="flecha-top"> <a href="#">
            <img src="../assets/imgs/arrow-sm-up-svgrepo-com.svg" alt="flecha hacia arriba">
        </a></div>
        <section class="big-cars">
            <div class="contenedor-xl">
                <h2> TURISMO PARA AMANTES DEL MOTOR</h2>
                <p> ¿El mundo del motor te apasiona? Entonces conoces el estilo JDM y pasar por Japón es tu oportunidad para ver los lugares más emblemáticos, las tiendas y recovecos relacionados con los coches japoneses. Aquí tienes unos cuantos lugares que pueden ser de tu interés.</p>
            </div>
        </section>
        <!--Una sección que contiene todo lo necesario para informar sobre el turismo de coches, con sus clases diferenciadas para poder trabajarlas-->
        <section>
            <div class="contenedor-xl">
                <h2>¿QUÉ HACER EN JAPÓN?</h2>
                <div class="cars">
                    <img src="../assets/imgs/fun2drive.jpg" alt="tour monte hakone" height="400" width="600">
                    <p><b>Fun2Drive (Hakone)</b><br><br>Podrás hacer alquilar un coche y hacer un tour por el monte Hakone. Si eres fan de InitialD, este es tu sitio</p>
                </div>
                <div class="cars">
                    <img src="../assets/imgs/daikoku_pa.jpg" alt="parking daikoku" height="400" width="600">
                    <p><b>Daikoku</b><br><br>Este lugar es conocido entre los amantes de los coches. Un área de descanso en la autopista donde autos modificados (o no) se reúnen para que sus dueños echen un vistazo a otros modelos y disfruten de la noche.</p>
                </div>
                <div class="cars">
                    <img src="../assets/imgs/akihabara_parking.webp" alt="parking akihabara" height="400" width="600">
                    <p><b>Parking Akihabara</b><br><br>Un lugar en el que encontrarjoyas del mundo automovilistico. Un simple paseo por este parking te hace verte a ti mismo en Tokyo Drift.</p>
                </div>
                <div class="cars">
                    <img src="../assets/imgs/honda_museum.jpg" alt="museo honda" height="400" width="600">
                    <p><b>Museo Honda</b><br><br> El Honda Collection Hall está alojado en el cirucito japonés de Twing Ring Motegi, a dos horas de Tokyo. En este museo veremos la historia de Honda a través de una extensa colección de vehcíulos de motor.
                    </p>
                </div>
                <div class="cars">
                    <img src="../assets/imgs/toyota_museum.jpg" alt="museo toyota" height="400" width="600">
                    <p><b>Museo del Automóvil de Toyota</b><br><br>Un lugar para conmemorar los automóviles creados por esta marca. Desde los más antiguos a los más nuevos.</p>
                </div>
                <div class="cars">
                    <img src="../assets/imgs/toyota_kaikan.jpg" alt="museo toyota kaikan" height="400" width="600">
                    <p><b>Museo Toyota Kaikan</b><br><br>Más enfoncado a las nuevas tecnologías, este museo no solo nos enseña los últimos vehículos de esta casa, sino que también ofrece información sobre actividades de RSC, así como la tecnología que usa la empresa en materia de seguridad y medio ambiente</p>
                </div>
                <div class="cars">
                    <img src="../assets/imgs/spoon_sports.jpg" alt="Spoon Sports" height="400" width="600">
                    <p><b>Spoon Sports</b><br><br>Visita el mítico taller donde se hace la magia y los coches Honda se convierten en autos preparados.</p>
                </div>
                <div class="cars">
                    <img src="../assets/imgs/glion_museum.jpg" alt="Museo Glion" height="400" width="600">
                    <p><b>Museo Glion</b><br><br>Este pequeño rincón nos transporta a la antigua Londres o Nueva York. El museo Glion es la casa de antiguos vehículos de todo el mundo.</p>
                </div>
                <div class="cars">
                    <img src="../assets/imgs/nissan_crossing.jpg" alt="nissan crossing" height="400" width="600">
                    <p><b>Nissan Crossing</b><br><br>Si te gusta la casa Nissan o si paseas por Ginza, es un spot que no puedes perderte. Con coches modernos en la primera planta y clásicos en la segunda. También tiene tienda de merchandising y una cafetería.</p>
                </div>
                <div class="cars">
                    <img src="../assets/imgs/museo_mazda.jpg" alt="museo mazda" height="400" width="600">
                    <p><b>Museo Mazda</b><br><br>Un lugar para conocer la historia de esta casa. Un recorrido lo lleva a través de una línea de ensamblaje de vehículos.</p>
                </div>
                <div class="cars">
                    <img src="../assets/imgs/nikko_circuit.jpg" alt="circuito nikko" height="400" width="600">
                    <p><b>Nikko Circuit</b><br><br>Si lo que prefieres es ver los coches en acción, ¡debes ir a un circuito!</p>
                </div>
            </div>
        </section>
    </main>
    <footer>
        <a href="#"> Aviso legal y Política de privacidad</a>
        <a href="https://www.instagram.com/blossomtravelsp/"><img src="../assets/imgs/instagram-1-svgrepo-com.svg" alt="logo de instagram"></a>
        <div class="footer-direction">
            <h4> Contacto </h4>
        <p>+34 856 24 25 65 <br> blossomtravelspain@gmail.com</p>
        </div>
        <div class="footer-direction">
            <h4> Dirección </h4>
        <p>Avda. Guadalquivir - Cádiz <br> 11012</p>
        </div>
    </footer>