<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Planifica tu viaje a Japón con Blossom Travel. Haz de tu viaje una experiencia única y personal gracias a nuestra ayuda">
    <meta name="Author" content="Noelia Tirado">
    <meta name="Keywords" content="viaje, japón, tokyo, anime, coches, osaka, kyoto, planificar, vuelos, hoteles">
    <meta name="locality" content="cádiz, spain, europa"> 
    <meta name="revisit-after" content="14 days">
    <meta name="category" content="Spanish, Spain, Japan, Viajes y turismo, planificación"> 
    <link rel="stylesheet" href="./css/styles.css">
    <link rel="stylesheet" href="../css/styles.css">
    <title>Blossom Travel</title>
</head>
<body>
    <header class="header-mini">   
        <nav class="nav-links">
           <div class="katana-menu">
                <input type="checkbox" id="check-menu" class="check-menu">

                <ul class="web-links">
                    <li><a href="#">¿Qué te interesa?</a>
                        <ul class="dropdown">
                            <li><a href="otakuplaces.html"> Turismo Otaku</a></li>
                            <li><a href="carplaces.html"> Turismo Coches</a></li>
                            <li><a href="foodplaces.html"> Turismo Gastronómico</a></li>
                            <li><a href="festivals.html"> Festivales</a></li>
                        </ul>
                    </li>
                    <li><a href="productos.html">¿Qué necesitas?</a></li>
                    <li><a href="contacto.html">¿Cómo podemos ayudarte?</a></li>
                </ul>

                <label for="check-menu" class="label-check">
                    <img src="../assets/imgs/katana-cultures-svgrepo-com.svg" alt="botón de menú con forma de katanas" class="menu-hamburguesa" width="40" height="40">
                </label>
            </div>

            <img class="mini-logo" src="../assets/imgs/logo.png" alt="logo flor de cerezo con el centro rojo" height="70" width="70">

            <a href="../index.html">Inicio</a>
            <a href="productos.html">Productos</a>
            <a href="contacto.html">Contacto</a>
        </nav>
    </header>
    <main>
        <div class="flecha-top"> <a href="#">
            <img src="../assets/imgs/arrow-sm-up-svgrepo-com.svg" alt="flecha hacia arriba">
        </a></div>
        <section class="otaku">
            <div class="contenedor-xl">
                <h2> TURISMO OTAKU</h2>
                <p> Si el mundo del anime, el manga y los videojuegos te gusta, seguro que quieres aprovechar al máximo tu viaje a Japón. Viendo tiendas, museos e incluso parques temáticos o estatuas repartidas por todo el país. <br><br> Aquí te enseñamos algunas de las cosas que quizás te interesen.</p>
            </div>
        </section>
        <!--Una galería donde ver los lugares recomendados en la página-->
        <section>
            <div class="contenedor-xl">
                <h2> TIENDAS</h2>
                <div class="otaku-shops">
                    <div>
                        <h3> Mandarake </h3>
                        <img src="../assets/imgs/mandarake.webp" alt="tienda mandarake" height="300" width="500">
                    </div>
                    <div>
                        <h3>Pokémon Center</h3>
                        <img src="../assets/imgs/pokemon_center.jpg" alt="tienda pokemon center" height="300" width="500">
                    </div>
                    <div>
                        <h3>Tokyo Character Street</h3>
                        <img src="../assets/imgs/tokyo_cha_street.jpg" alt="tienda tokyo character street" height="300" width="500">
                    </div>
                    <div>
                        <h3>Shibuya Parco</h3>
                        <img src="../assets/imgs/shibuya_parco.jpg" alt="tienda de shibuya parco" height="300" width="500">
                    </div>
                    <div >
                        <h3>Book Off</h3>
                        <img src="../assets/imgs/book_off.jpg" alt="tienda book off" height="300" width="500">
                    </div>
                    <div>
                        <h3>Hobby Off</h3>
                        <img src="../assets/imgs/hobby_off.jpg" alt="tienda de hobby off" height="300" width="500">
                    </div>
                    <div>
                        <h3>Kotobukiya</h3>
                        <img src="../assets/imgs/kotobukiya.jpg" alt="tienda de kotobukiya" height="300" width="500">
                    </div>
                    <div>
                        <h3> Radio Kaikan</h3>
                        <img src="../assets/imgs/radio_kaikan.jpg" alt="tienda radio kaikan" height="300" width="500">
                    </div>
                    <div>
                        <h3>Suruga-ya</h3>
                        <img src="../assets/imgs/suruga_ya.webp" alt="tienda suruga-ya" height="300" width="500">
                    </div>
                </div>
            </div>
            <div class="contenedor-xl">
                <h2>MUSEOS</h2>
                <div class="otaku-museums">
                    <div>
                        <h3>Museo Internacional del Manga</h3>
                        <img src="../assets/imgs/museo_manga_kyoto.jpg" alt="museo manga kyoto" height="300" width="500">
                        <p>Kyoto</p>
                    </div>
                    <div>
                        <h3>Museo Ghibli</h3>
                        <img src="../assets/imgs/museo_ghibli_mitaka.webp" alt="museo ghibli de mitaka" height="300" width="500">
                        <p>Mitaka, Tokyo</p>
                    </div>
                    <div>
                        <h3> Museo del Manga de Kitakyushu</h3>
                        <img src="../assets/imgs/museo_manga_kitakyushu.jpg" alt="museo Kitakyushu" height="300" width="500">
                        <p>Kitakyushu, <a href="./productos.html#fukuoka">Fukuoka</a></p>
                    </div>
                    <div>
                        <h3>Museo Suginami Animation</h3>
                        <img src="../assets/imgs/suiganmi_museo.jpg" alt="museo suginami" height="300" width="500">
                        <p>Suginami, Tokyo</p>
                    </div>
                    <div>
                        <h3> Toei Animation Gallery</h3>
                        <img src="../assets/imgs/toei_animation.jpg" alt="toei animation gallery" height="300" width="500">
                        <p>Nerima, Tokyo</p>
                    </div>
                </div>
            </div>
            <div class="contenedor-xl">
                <h2>MUSEOS DE AUTORES MANGA</h2>
                <div class="authors">
                    <ul>
                        <li>Museo Tezuka (Takarazuka, Hyogo)</li>
                        <li>Go! Wonderland (Go Nagai Wonderland, Museum, Wajima, Ishikawa)</li>
                        <li>Museo Manhattan (Ishinomaki, Miyagi)</li>
                        <li>Museo de Fujiko F. Fujio (Kawasaki-City, Kanagawa)</li>
                        <li>Ge-Sen Crayon Shinchan (Kasukabe, Saitama)</li>
                        <li>Museo de Mizuki Shigeru (Sakaiminato, Tottori)</li>
                        <li>Gosho Aoyama Manga Factory (Hokuei, Tottori)</li>
                        <li>Museo de arte Hasegawa Machiko (Setagaya, Tokyo)</li>
                    </ul>
                </div>
            </div>
            <div class="contenedor-xl">
                <h2> ZONAS TEMÁTICAS </h2>
                <div class="otaku-museums">
                    <div>
                        <h3>Evangelion Kyoto Base</h3>
                        <img src="../assets/imgs/evangelion_kyoto_eigamura.jpg" alt="evangelion kyoto base" height="300" width="500">
                        <p>Kyoto Eigamura, Kyoto</p>
                    </div>
                    <div class="div">
                        <h3>Naruto x BORUTO Fuji Hidden Leaf Village</h3>
                        <img src="../assets/imgs/fuji_q_highland.webp" alt="fuji q highland" height="300" width="500">
                        <p>Fuji Q Highland, Fujiyoshida</p>
                    </div>
                    <div>
                        <h3>Naruto, Godzilla y Shinchan</h3>
                        <img src="../assets/imgs/nigijen_no_mori.jpg" alt="nijigen no mori" height="300" width="500">
                        <p>Nijigen no Mori, Awaji</p>
                    </div>
                </div>
            </div>
            <div class="contenedor-xl">
                <h2>MANGA Y ANIME EN LA VIDA REAL</h2>
                <div class="otaku-museums">
                    <div>
                       <h3> Santuario Washinomiya</h3>
                       <img src="../assets/imgs/santuario_washinomiya.jpg" alt="santuario washinomiya" height="300" width="500">
                       <p>Lucky Star</p>
                   </div>
                   <div>
                       <h3> Chichibu Jinja</h3>
                       <img src="../assets/imgs/chichibu_santuario.jpg" alt="santuario chichibu" height="300" width="500">
                       <p>Anohana</p>
                   </div>
                   <div id="tokyorevengers">
                       <a href="./productos.html#yokohama"><h3>Minato Mirai 21</h3></a>
                       <img src="../assets/imgs/minato_mirai_21.jpg" alt="minato mirai 21">
                       <p>Tokyo Revengers</p>
                   </div>
               </div>
                    
            </div>
        </section>
    </main>
    <footer>
        <a href="#"> Aviso legal y Política de privacidad</a>
        <a href="https://www.instagram.com/blossomtravelsp/"><img src="../assets/imgs/instagram-1-svgrepo-com.svg" alt="logo de instagram"></a>
        <div class="footer-direction">
            <h4> Contacto </h4>
        <p>+34 856 24 25 65 <br> blossomtravelspain@gmail.com</p>
        </div>
        <div class="footer-direction">
            <h4> Dirección </h4>
        <p>Avda. Guadalquivir - Cádiz <br> 11012</p>
        </div>
    </footer>
</body>