<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Planifica tu viaje a Japón con Blossom Travel. Haz de tu viaje una experiencia única y personal gracias a nuestra ayuda">
    <meta name="Author" content="Noelia Tirado">
    <meta name="Keywords" content="viaje, japón, tokyo, anime, coches, osaka, kyoto, planificar, vuelos, hoteles">
    <meta name="locality" content="cádiz, spain, europa"> 
    <meta name="revisit-after" content="14 days">
    <meta name="category" content="Spanish, Spain, Japan, Viajes y turismo, planificación"> 
    <link rel="stylesheet" href="./css/styles.css">
    <link rel="stylesheet" href="../css/styles.css">
    <title>Blossom Travel</title>
</head>
<body>
    <header class="header-mini">   
        <nav class="nav-links">
           <div class="katana-menu">
                <input type="checkbox" id="check-menu" class="check-menu">

                <ul class="web-links">
                    <li><a href="#">¿Qué te interesa?</a>
                        <ul class="dropdown">
                            <li><a href="otakuplaces.html"> Turismo Otaku</a></li>
                            <li><a href="carplaces.html"> Turismo Coches</a></li>
                            <li><a href="foodplaces.html"> Turismo Gastronómico</a></li>
                            <li><a href="festivals.html"> Festivales</a></li>

                        </ul>
                    </li>
                    <li><a href="productos.html">¿Qué necesitas?</a></li>
                    <li><a href="presupuesto.html">¿Cómo podemos ayudarte?</a></li>
                </ul>

                <label for="check-menu" class="label-check">
                    <img src="../assets/imgs/katana-cultures-svgrepo-com.svg" alt="botón de menú con forma de katanas" class="menu-hamburguesa" width="40" height="40">
                </label>
            </div>

            <img class="mini-logo" src="../assets/imgs/logo.png" alt="logo flor de cerezo con el centro rojo" height="70" width="70">

            <a href="../index.html">Inicio</a>
            <a href="productos.html">Productos</a>
            <a href="contacto.html">Contacto</a>
        </nav>
    </header>
    <main>
        <div class="flecha-top"> <a href="#">
            <img src="../assets/imgs/arrow-sm-up-svgrepo-com.svg" alt="flecha hacia arriba">
        </a></div>
        <section>
            <div class="contenedor-xl">
                <h2> TOP VENTAS</h2>
                <div class="top-sellers" id="osaka">
                    <div class="top-seller">
                        <h2> Osaka</h2>
                        <img src="../assets/imgs/osaka.jpg" alt="imagen de osaka" height="400" width="400">
                        <div class="top-seller-descr">
                         <p> Siendo la tercera ciudad más poblada de Japón, también es una de las más visitadas. Es divertida y se come genial. Hay lugares que no nos podemos perder como Universal Studios Japón</p>
                        </div>
                    </div>
                    <div class="top-seller" id="kyoto">
                        <h2> Kyoto </h2>
                        <img src="../assets/imgs/kyoto.jpg" alt="imagen de kyoto" height="400" width="400">
                        <div class="top-seller-descr">
                            <p> Kyoto no pasa desapercibida. Su historia nos llama a querer visitarla y conocerla. ¿Cómo perderte una de las ciudades más tradicionales de Japón?</p>
                        </div>
                    </div>
                    <div class="top-seller" id="tokyo">
                        <h2> Tokyo </h2>
                        <img src="../assets/imgs/tokyo_night.jpg" alt="imagen de tokyo" height="400" width="400">
                        <div class="top-seller-descr">
                            <p> Visitar esta ciudad es imprescindible. No solo es la capital del país, sino también de las compras, las luces, la noche.  Todo en ella es superlativo.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section>
            <div class="contenedor-xl">
                <h2> OTROS DESTINOS</h2>
                <div class="contenedor-destinos">
                    <h3>Yokohama</h3>
                    <div class="destinos" id="yokohama">
                        <img  class="destinos-img"  src="../assets/imgs/yokohama.jpg" alt="foto de yokohama" height="400" width="400">
                        <p> Yokohama es la segunda ciudad más grande de Japón, ideal para una excursión de un día (o más) si te alojas en Tokyo. <br> <br> <b> Cosas que hacer en Yokohama </b> <br><br> La zona de <a href="./otakuplaces.html#tokyorevengers"> Minato Mirai 21</a>, en el centro de Yokohama, al lado del parque Yamashita. Landmark Tower, Cosmo World, Nippon Maru, CupNoodle Museum, Akarenga, los almacenes de ladrillo rojo, el muelle Osanbashi <br><br> <img src="../assets/imgs/logo.png" alt="logo flor de cerezo" height="50" width="50"></p>
                    </div>
                </div>
                <div class="contenedor-destinos">
                    <h3>Kobe</h3>
                    <div class="destinos">
                        <img  class="destinos-img" src="../assets/imgs/kobe.jpg" alt="foto de kobe" height="400" width="400">
                        <p>Si bien Kobe no es una de las ciudades más tenidas en cuenta para viajar a Japón, nosotros la recomendamos encarecidamente. Un día basta para explorar lo principal, aunque todo varía depende de tu gusto. <br><br> <b> Cosas que ver en Kobe </b>  <br><br> En Kobe encontrarás el Santuario de Sannomiya, Parque Meriken, el barrio chino Nankinmachi o el museo marítimo de Kobe. <br><br> <img src="../assets/imgs/logo.png" alt="logo flor de cerezo" height="50" width="50">
                        </p>
                    </div>
                </div>
                <div class="contenedor-destinos" id="fukuoka">
                    <h3>Fukuoka</h3>
                    <div class="destinos">
                        <img   class="destinos-img" src="../assets/imgs/fukuoka.jpg" alt="foto de fukuoka" height="400" width="400">
                        <p>Fukuoka está a unas 5h y media de Tokyo, un trayecto incluído en el JR Pass. <br><br> <b> Cosas que ver en Fukuoka </b> <br><br> El templo Shofukuji (el primer templo budista zen de Japón), el castillo de Fukuoka, rodeado por el parque Maizuru. Canal City Hakata, un gran centro comercial lleno de tiendas. Barrio Nakasu, Dazaifu, entre otros rincones. <br><br>  <img src="../assets/imgs/logo.png" alt="logo flor de cerezo" height="50" width="50"></p>
                    </div>
                </div>
                <div class="contenedor-destinos">
                    <h3> Hiroshima</h3>
                    <div class="destinos">
                        <img   class="destinos-img"  src="../assets/imgs/hiroshima.jpg" alt="foto actual de hiroshima" height="400" width="400">
                        <p>La cultura general nos hace conocer Hiroshima por la catastrofe del 6 de agosto de 1945, pero nosotros vamos a hablarte de otros puntos que ver en esta ciudad además de los emblemáticos. <br> <br> <b> Cosas que ver en Hiroshima</b> <br><br> El Parque de la Paz, zona donde cayó la bomba, destacando la Cúpula de la Bomba Atómica. El Cenotafio para las víctimas, la llama de la Paz y el reloj parado a las 8:15. <br> Además encontrarás el castillo de Hiroshima, los jardines Shukkeien y el <a href="./carplaces.html#museomazda">Museo Mazda</a> <br><br> <img src="../assets/imgs/logo.png" alt="logo flor de cerezo" height="50" width="50">.</p>
                    </div>
                </div>
                <div class="contenedor-destinos">
                    <h3>Sapporo</h3>
                    <div class="destinos">
                        <img   class="destinos-img"  id="sapporo" src="../assets/imgs/sapporo.jpg" alt="foto de sapporo" height="400" width="400">
                        <p>Sapporo es la capital de Hokkaido, quinta mayor ciudad de Japón. Es una ciudad relativamente moderna que se suele quedar fuera de los itinerarios cuando se planean viajes a Japón. Aquí te decimos por qué en tu viaje no puede faltar. <br><br><b>Cosas que hacer en Sapporo</b><br><br> <a href="./festivals.html#sapporofestival">El festival de nieve</a>, se celebra en el Parque Odori, la zona de Susukino y la zona de Tsu-dome. T38 Observation Deck, un enorme rascacielos en el que encontrarás un precioso mirador. Tokeidai: Torre del reloj, Jardines Botánicos de Sapporo, Mercado Nijo o la Calle comercial Tanuki-koji <br> <img src="../assets/imgs/logo.png" alt="logo flor de cerezo" height="50" width="50"></p>
                    </div>
                </div>
            </div>
        </section>
        <section>
            <div class="contenedor-xl">
                <h2> AEROPUERTOS </h2>
                <p class="airport-descr">
                    Debemos saber que Japón cuenta con cuatro aeropuertos principales: Narita, Haneda, Osaka y Nagoya. Sin embargo son solo Narita y Haneda los que ofrecen la gran mayoría de vuelos internacionales a larga distancia. <br> <br>Estos últimos son los más recomendables para comenzar tu viaje a Japón desde Tokyo.
                </p>
                <div class="airport-img">
                    <img src="../assets/imgs/aeropuerto_haneda.jpg" alt="imagen de aeropuerto" height="400" width="400">
                    <img src="../assets/imgs/aeropuerto_narita.jpg" alt="imagen de aeropuerto" height="400"
                    width="400">
                </div>
            <p class="airport-descr"> Algunos datos importantes son los siguientes. <br><br>Solo el aeropuerto de Haneda está está en la prefectura vecina de Tokio, Chiba. <br><br> Los dos tienen tres terminales. <br><br> JAL y ANA, las dos principales aerolíneas de Japón, operan desde ambos aeropuertos. <br><br> Uno de los factores principales para elegir entre uno y otro, es el número de aerolíneas que trabajan con cada uno de los aeropuertos ya que pueden darnos mejores precios o tiempos entre vuelos, sin embargo, es importante tener en cuenta lo que nos saldrá tener que ir hasta el centro de Tokio. <br><br> Claramente es más rápido llegar a Tokio desde Haneda, sin embargo, ambos tienen opciones disponibles de autobús, tren, alquiler de coches… <br> <br>¡No te preocupes! Nosotros elegiremos el mejor aeropuerto para tu viaje. </p>
        </div>
        </section>
        <section>
            <div class="contenedor-xl">
                <h2> HOTELES </h2>
                <div class="big-sign">
                    <p class="sign"> <img src="../assets/imgs/logo.png" alt="logo flor de cerezo" height="30" width="30">  ¡Hoteles 3 estrellas! </p>
                    <p class="sign"> <img src="../assets/imgs/logo.png" alt="logo flor de cerezo" height="30" width="30"> ¡Bien comunicados! </p>
                    <p class="sign"> <img src="../assets/imgs/logo.png" alt="logo flor de cerezo" height="30" width="30"> Disfruta de los mejores precios </p>
                </div>
                <div class="big-hotel">
                    <div class="hotel">
                        <img class="hotelpic" src="../assets/imgs/the_edo_sakura.jpg" alt="imagen de hotel" height="350" width="350">
                       <img src="../assets/imgs/edorating.png" alt="hotel puntuacion" height="350" width="350">
                    </div>
                    <div class="hotel">
                        <img class="hotelpic" src="../assets/imgs/travelodge_honmachi.jpg" alt="imagen de hotel" height="350" width="350">
                        <img src="../assets/imgs/travelodgerating.png" alt="hotel puntuacion" height="350" width="350">
                    </div>
                    <div class="hotel">
                        <img class="hotelpic" src="../assets/imgs/wanosato_kyoto.jpg" alt="imagen de hotel" height="350" width="350">
                        <img src="../assets/imgs/wanosatorating.png" alt="hotel puntuacion" height="350" width="350">
                    </div>
                    <div class="hotel">
                        <img class="hotelpic" src="../assets/imgs/hotel_resol_kyoto.jpg" alt="imagen de hotel" height="350" width="350">
                        <img src="../assets/imgs/kawaramachirating.png" alt="hotel puntuacion" height="350" width="350">
                    </div>
                    <div class="hotel">
                        <img class="hotelpic" src="../assets/imgs/super_hotel_asakusa.jpg" alt="imagen de hotel" height="350" width="350">
                        <img src="../assets/imgs/asakusarating.png" alt="hotel puntuacion" height="350" width="350">
                    </div>
                    <div class="hotel">
                        <img class="hotelpic" src="../assets/imgs/guest_house_wagokoro.jpg" alt="imagen de hotel" height="350" width="350">
                        <img src="../assets/imgs/guestrating.png" alt="hotel puntuacion" height="350" width="350">
                    </div>
                </div>
            </div>
        </section>
        <section>
            <div class="contenedor-xl">
                <h2> OTROS </h2>
                <div class="other-things">
                    <ol>
                        <li>Documentación</li>
                        <li>Inmigración y aduanas</li>
                        <li>Tax Free</li>
                        <li>Registro de viajeros</li>
                        <li>Seguro de viaje</li>
                        <li>Conducir en Japón</li>
                        <li>JR Pass</li>
                        <li>ESIM de datos</li>
                        <li>Welcome Suica</li>
                        <li>Experiencias únicas</li>
                    </ol>
                    <img src="../assets/imgs/needs.png" alt="objetos necesarios para ir a japón" height="300" width="500">
                </div>
                <div class="help">
                    <p> Como ves hay muchas cosas que hacer antes de tu viaje a Japón. Pero no tienes que preocuparte. <br> Nosotros estaremos encantados de ayudarte en el proceso. <br> <a href="./presupuesto.html"> Mándanos un mensaje con todas tus dudas.</a></p>
                </div>
            </div>
        </section>
    </main>
    <footer>
        <a href="#"> Aviso legal y Política de privacidad</a>
        <a href="https://www.instagram.com/blossomtravelsp/"><img src="../assets/imgs/instagram-1-svgrepo-com.svg" alt="logo de instagram"></a>
        <div class="footer-direction">
            <h4> Contacto </h4>
        <p>+34 856 24 25 65 <br> blossomtravelspain@gmail.com</p>
        </div>
        <div class="footer-direction">
            <h4> Dirección </h4>
        <p>Avda. Guadalquivir - Cádiz <br> 11012</p>
        </div>
    </footer>
</body>